<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.ChartMapper">
    <!--商品原料分页信息  List<SysSupplier_GoodsTestMapper> getAll();-->
    <resultMap id="SupplierMap" type="com.gameloft9.demo.dataaccess.model.system.SysSupplierTest">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_NAME" property="supplierName" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_DESCRIBE" property="supplierDescribe" jdbcType="VARCHAR"/>
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="meterialMap" type="com.gameloft9.demo.dataaccess.model.system.MeterialTest">
        <id property="id" column="ID" jdbcType="VARCHAR" />
        <result property="goodsName" column="GOODS_NAME" jdbcType="VARCHAR" />
        <result property="goodsType" column="GOODS_TYPE" jdbcType="VARCHAR" />
        <result property="goodsDescribe" column="GOODS_DESCRIBE" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="supplier_goods_map" type="com.gameloft9.demo.dataaccess.model.system.Supplier_Goods">

        <id property="id" column="ID"/>
        <result property="supplierId" column="SUPPLIER_ID"/>
        <result property="materialId" column="MATERIAL_ID"/>
        <result property="goodsType" column="GOODS_TYPE"/>
        <result property="supplierName" column="SUPPLIER_NAME"/>
        <result property="goodsName" column="GOODS_NAME"/>
        <result property="goodsPrice" column="GOODS_PRICE"/>
        <result property="phone" column="PHONE"/>
    </resultMap>

    <!--//供应商-原料一览表-->
    <select id="getAll" resultMap="supplier_goods_map">
        select
            mg.ID,
            m.GOODS_TYPE,
            m.GOODS_NAME,
            mg.GOODS_PRICE,
            s.SUPPLIER_NAME,
            s.PHONE
        from
            sys_supplier_test s,
            sys_material_test m,
            sys_supplier_goods_test mg
        where
            m.ID=mg.MATERIAL_ID
            and s.ID=mg.SUPPLIER_ID
            and m.GOODS_TYPE='轴承'
    </select>


</mapper>