<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.FinanceMapper">

    <resultMap id="purchase_order_map" type="com.gameloft9.demo.dataaccess.model.system.PurchaseOrderTest">
        <id property="id" column="ID"/>
        <result column="ORDER_NUMBER" property="orderNumber" jdbcType="VARCHAR"/>
        <result column="GOODS_ID" property="goodsId" jdbcType="VARCHAR"/>
        <result column="GOODS_TYPE" property="goodsType" jdbcType="VARCHAR"/>
        <result column="GOODS_NAME" property="goodsName" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_ID" property="supplierId" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_NAME" property="supplierName" jdbcType="VARCHAR"/>
        <result column="GOODS_NUMBER" property="goodsNumber" jdbcType="VARCHAR"/>
        <result column="TOTAL_PRICE" property="totalPrice" jdbcType="DOUBLE"/>
        <result column="APPLY_USER" property="applyUser" jdbcType="VARCHAR"/>
        <result column="APPLY_TIME" property="applyTime" jdbcType="TIMESTAMP"/>
        <result column="AUDIT_STATE" property="auditState" jdbcType="VARCHAR"/>
        <result column="ORDER_AUDIT_USER" property="orderAuditUser" jdbcType="VARCHAR"/>
        <result column="ORDER_AUDIT_TIME" property="orderAuditTime" jdbcType="TIMESTAMP"/>
        <result column="PAY_AUDIT_USER" property="payAuditUser" jdbcType="VARCHAR"/>
        <result column="PAY_AUDIT_TIME" property="payAuditTime" jdbcType="TIMESTAMP"/>
        <result column="PAY_STATE" property="payState" jdbcType="VARCHAR"/>
        <result column="APPLY_DESCRIBE" property="applyDescribe" jdbcType="VARCHAR"/>
        <result column="AUDIT_DESCRIBE" property="auditDescribe" jdbcType="VARCHAR"/>
    </resultMap>

    <!--财务分页显示订单列表   List<PurchaseOrderTest> getAllByRepositoryM(-->
    <select id="getAllByfinanceM" resultMap="purchase_order_map">
        select *
        from
        sys_purchase_order_test
        <where>
            <if test="startTime != null and endTime != null">
                and APPLY_TIME between #{startTime,jdbcType=DATE} and #{endTime,jdbcType=DATE}
            </if>
            <if test="allState != null and allState != ''">
                and AUDIT_STATE = #{allState,jdbcType=VARCHAR}
            </if>
            <if test="contain != null and contain != ''">
                and AUDIT_STATE  in (#{contain})
                <!--<foreach collection="contain" item="contain" index="index" open="(" close=")" separator=",">
                    #{contain}
                </foreach> -->
            </if>
        </where>

        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>

    <!--财务领导获取总条数   Integer getCountByRepositoryM(-->
    <select id="getCountByfinanceM" resultType="java.lang.Integer">
        select count(1)
        from
        sys_purchase_order_test
        <where>
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and APPLY_TIME between #{startTime,jdbcType=DATE} and #{endTime,jdbcType=DATE}
            </if>
            <if test="allState != null and allState != ''">
                and AUDIT_STATE = #{allState,jdbcType=VARCHAR}
            </if>
            <if test="contain != null and contain != ''">
                and AUDIT_STATE in (#{contain})
                <!--<foreach collection="contain" item="contain" index="index" open="(" close=")" separator=",">
                    #{contain}
                </foreach> -->
            </if>
        </where>
    </select>

    <!--仓库审核订单   void applyCheckByFinance(PurchaseOrderTest purchaseOrderTest);-->
    <update id="applyCheckByFinance" parameterType="com.gameloft9.demo.dataaccess.model.system.PurchaseOrderTest">
        update sys_purchase_order_test
        <set>
            <if test="payState != null and payState != ''">
                PAY_STATE = #{payState,jdbcType=VARCHAR},
            </if>
            <if test="payAuditUser != null and payAuditUser != ''">
                PAY_AUDIT_USER = #{payAuditUser,jdbcType=VARCHAR},
            </if>
            <if test="payAuditTime != null and payAuditTime != ''">
                PAY_AUDIT_TIME = #{payAuditTime,jdbcType=VARCHAR},
            </if>
            <if test="auditDescribe != null and auditDescribe != ''">
                AUDIT_DESCRIBE = #{auditDescribe,jdbcType=VARCHAR}
            </if>
        </set>
        <where>
            <if test="id != null and id != ''">
                and ID=#{id,jdbcType=VARCHAR}
            </if>
        </where>
    </update>

</mapper>