<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.SysSupplierTestMapper">

    <resultMap id="SupplierMap" type="com.gameloft9.demo.dataaccess.model.system.SysSupplierTest">

        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_NAME" property="supplierName" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_DESCRIBE" property="supplierDescribe" jdbcType="VARCHAR"/>
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <!--分页   List<SysSupplierTest> getAll(SysSupplierPageVO supplierPageVO);-->
    <select id="getAll" resultMap="SupplierMap" >

       select *
       from sys_supplier_test
       <where>
           <if test="supplierName != null and supplierName != ''">
               and SUPPLIER_NAME like "%"#{supplierName,jdbcType=VARCHAR}"%"
           </if>
           <if test="phone != null and phone != ''">
               and PHONE=#{phone,jdbcType=VARCHAR}
           </if>
       </where>
       limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>

    <!--总条数  Long getCount(SysSupplierPageVO supplierPageVO);-->
    <select id="getCount" resultType="java.lang.Integer" parameterType="map">
        select count(1)
        from sys_supplier_test
        <where>
            <if test="supplierName != null and supplierName != ''">
                and SUPPLIER_NAME like "%"#{supplierName,jdbcType=VARCHAR}"%"
            </if>
            <if test="phone != null and phone != ''">
                and PHONE=#{phone,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--添加  void addSupplier(SysSupplierTest supplier);-->
    <insert id="addSupplier" parameterType="com.gameloft9.demo.dataaccess.model.system.SysSupplierTest">
        insert into sys_supplier_test
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                ID,
            </if>
            <if test="supplierName != null and supplierName != ''">
                SUPPLIER_NAME,
            </if>
            <if test="supplierDescribe != null and supplierDescribe != ''">
                SUPPLIER_DESCRIBE,
            </if>
            <if test="phone != null and phone != ''">
                PHONE,
            </if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="supplierName != null and supplierName != ''">
                #{supplierName,jdbcType=VARCHAR},
            </if>
            <if test="supplierDescribe != null and supplierDescribe != ''">
                #{supplierDescribe,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                #{phone,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--修改供应商  void updateSupplier(SysSupplierTest supplier);-->
    <update id="updateSupplier" parameterType="com.gameloft9.demo.dataaccess.model.system.SysSupplierTest">
        update sys_supplier_test
        <set>
            <if test="supplierName != null and supplierName != ''">
                SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR},
            </if>
            <if test="supplierDescribe != null and supplierDescribe != ''">
                SUPPLIER_DESCRIBE = #{supplierDescribe,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                PHONE = #{phone,jdbcType=VARCHAR}
            </if>
        </set>
        <where>
            ID = #{id,jdbcType=VARCHAR}
        </where>
    </update>

    <!--根据名称查找供应商  SysSupplierTest getBySupplierName(String supplierName);-->
    <select id="getBySupplierName" parameterType="java.lang.String" resultMap="SupplierMap">
        select * from sys_supplier_test where SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR}

    </select>

    <!--根据id查找供应商  SysSupplierTest getById(String id);-->
    <select id="getById" parameterType="java.lang.String" resultMap="SupplierMap">
        select ID,SUPPLIER_NAME,SUPPLIER_DESCRIBE,PHONE from sys_supplier_test where ID = #{id,jdbcType=VARCHAR}

    </select>

    <!--根据id删除供应商void deleteSupllierById(String id);-->
    <delete id="deleteSupllierById" parameterType="java.lang.String">
        delete from sys_supplier_test where ID = #{id,jdbcType=VARCHAR}
    </delete>

    <!--根据供应商id查找供应商名称   String getNameById(String id);-->
    <select id="getNameById" resultType="java.lang.String" parameterType="java.lang.String">
        select SUPPLIER_NAME from sys_supplier_test
        <where>
            <if test="_parameter != null and _parameter != ''">
                and ID = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>