<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.SysSupplierTestMapper">

    <resultMap id="SupplierMap" type="com.gameloft9.demo.dataaccess.model.system.SysSupplierTest">

        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_NAME" property="supplierName" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_DESCRIBE" property="supplierDescribe" jdbcType="VARCHAR"/>
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <!--分页   List<SysSupplierTest> getAll(SysSupplierPageVO supplierPageVO);-->
    <select id="getAll" resultMap="SupplierMap" >

       select *
       from sys_supplier_test
       <where>
           <if test="supplierName != null and supplierName != ''">
               and supplierName like "%"#{supplierName,jdbcType=VARCHAR}"%"
           </if>
           <if test="phone != null and phone != ''">
               and phone=#{phone,jdbcType=VARCHAR}
           </if>
       </where>
       limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>

    <!--总条数  Long getCount(SysSupplierPageVO supplierPageVO);-->
    <select id="getCount" resultType="java.lang.Integer" parameterType="map">
        select count(1)
        from sys_supplier_test
        <where>
            <if test="supplierName != null and supplierName != ''">
                and supplierName like "%"#{supplierName,jdbcType=VARCHAR}"%"
            </if>
            <if test="phone != null and phone != ''">
                and phone=#{phone,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--添加  void addSupplier(SysSupplierTest supplier);-->
    <insert id="addSupplier" parameterType="com.gameloft9.demo.dataaccess.model.system.SysSupplierTest">
        insert into sys_supplier_test
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                ID,
            </if>
            <if test="supplierName != null and supplierName != ''">
                SUPPLIER_NAME,
            </if>
            <if test="supplierDescribe != null and supplierDescribe != ''">
                SUPPLIER_DESCRIBE,
            </if>
            <if test="phone != null and phone != ''">
                PHONE,
            </if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="supplierName != null and supplierName != ''">
                #{supplierName,jdbcType=VARCHAR},
            </if>
            <if test="supplierDescribe != null and supplierDescribe != ''">
                #{supplierDescribe,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                #{phone,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>