<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.SysSupplier_GoodsTestMapper">
    <!--商品原料分页信息  List<SysSupplier_GoodsTestMapper> getAll();-->
    <resultMap id="SupplierMap" type="com.gameloft9.demo.dataaccess.model.system.SysSupplierTest">

        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_NAME" property="supplierName" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_DESCRIBE" property="supplierDescribe" jdbcType="VARCHAR"/>
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="meterialMap" type="com.gameloft9.demo.dataaccess.model.system.MeterialTest">
        <id property="id" column="ID" jdbcType="VARCHAR" />
        <result property="goodsName" column="GOODS_NAME" jdbcType="VARCHAR" />
        <result property="goodsType" column="GOODS_TYPE" jdbcType="VARCHAR" />
        <result property="goodsDescribe" column="GOODS_DESCRIBE" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="supplier_goods_map" type="com.gameloft9.demo.dataaccess.model.system.Supplier_Goods">

        <id property="id" column="ID"/>
        <result property="supplierId" column="SUPPLIER_ID"/>
        <result property="materialId" column="MATERIAL_ID"/>
        <result property="goodsType" column="GOODS_TYPE"/>
        <result property="supplierName" column="SUPPLIER_NAME"/>
        <result property="goodsName" column="GOODS_NAME"/>
        <result property="goodsPrice" column="GOODS_PRICE"/>
        <result property="phone" column="PHONE"/>
    </resultMap>

    <!--//供应商-原料一览表分页显示-->
    <select id="getAll" resultMap="supplier_goods_map">
        select
            m.GOODS_TYPE,
            m.GOODS_NAME,
            mg.GOODS_PRICE,
            s.SUPPLIER_NAME,
            s.PHONE
        from
            sys_supplier_test s,
            sys_material_test m,
            sys_supplier_goods_test mg
        <where>
            <if test="goodsType != null and goodsType != ''">
                and m.GOODS_TYPE = #{goodsType,jdbcType=VARCHAR}
            </if>
            <if test="supplierName != null and supplierName != ''">
                and s.SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR}
            </if>
               and m.ID=mg.MATERIAL_ID
               and s.ID=mg.SUPPLIER_ID
        </where>
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>

    <!--获取原料商品总条数  Integer getCount(-->
    <select id="getCount" resultType="java.lang.Integer">
        select count(1) from sys_supplier_goods_test
        <where>
            <if test="goodsType != null and goodsType != ''">
                and m.GOODS_TYPE = #{goodsType,jdbcType=VARCHAR}
            </if>
            <if test="supplierName != null and supplierName != ''">
                and s.SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--初始化供应商名称下拉框   List<SysSupplierTest> getSupplierName();-->
    <select id="getSupplierName" resultMap="SupplierMap">
        select * from sys_supplier_test
    </select>

    <!--初始化货品类型下拉框   List<MeterialTest> getGoodsType();-->
    <!--resultMap="meterialMap"-->
    <select id="getGoodsType"  resultType="java.lang.String" >
        /*select * from sys_material_test*/
        select DISTINCT GOODS_TYPE from sys_material_test
    </select>

    <!--初始化供应商电话   String getPhone(String supplierName);-->
    <select id="getPhone" parameterType="java.lang.String" resultType="java.lang.String">
        select PHONE from sys_supplier_test where ID = #{id,jdbcType=VARCHAR}
    </select>

    <!--初始化原料名称  List<String> initGoodsName (String goodsId);-->
    <select id="initGoodsName" parameterType="java.lang.String" resultMap="meterialMap">

        select * from sys_material_test where GOODS_TYPE = #{goodsType,jdbcType=VARCHAR}
    </select>

    <!--添加原料商品   void addSupplier_Goods(Supplier_Goods supplier_goods);-->
    <insert id="addSupplier_Goods" parameterType="com.gameloft9.demo.dataaccess.model.system.Supplier_GoodsTest">
        insert into sys_supplier_goods_test
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                ID,
            </if>
            <if test="materialId != null and materialId != ''">
                MATERIAL_ID,
            </if>
            <if test="supplierId != null and supplierId != ''">
                SUPPLIER_ID,
            </if>
            <if test="goodsPrice != null and goodsPrice != ''">
                GOODS_PRICE,
            </if>
        </trim>
        <trim suffix=")" prefix=" values(" suffixOverrides=",">
            <if test="id != null and id != ''">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="materialId != null and materialId != ''">
                #{materialId,jdbcType=VARCHAR},
            </if>
            <if test="supplierId != null and supplierId != ''">
                #{supplierId,jdbcType=VARCHAR},
            </if>
            <if test="goodsPrice != null and goodsPrice != ''">
                #{goodsPrice,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


   <!--根据供应商id删除供应商   void deleteBySupplierId(String supplierId);-->
    <delete id="deleteBySupplierId" parameterType="java.lang.String">
        delete from sys_supplier_goods_test
        <where>
            <if test="_parameter != null and _parameter != ''">
                SUPPLIER_ID=#{supplierId,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>

   <!--根据原料id删除原料商品void deleteByMaterialId(String MaterialId);-->
    <delete id="deleteByMaterialId" parameterType="java.lang.String">
        delete from sys_supplier_goods_test
        <where>
            <if test="_parameter != null and _parameter != ''">
                MATERIAL_ID=#{materialId,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>

    <!--根据goodsId查询单价  String getPrice(String goodsId);-->
    <select id="getPrice" resultType="java.lang.String" parameterType="java.lang.String">
        select DISTINCT GOODS_PRICE
        from sys_supplier_goods_test
        <where>
            <if test="_parameter != null and _parameter != ''">
                and MATERIAL_ID = #{goodsId,jdbcType=VARCHAR}
            </if>
            <if test="_parameter != null and _parameter != ''">
                and SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>